n8n/workflows/nutrichat-main-webhook.json
{
  "name": "NutriChat — Agente Principal (Webhook)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "evolution",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-receiver",
      "name": "Receber do Evolution API",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.event }}",
              "value2": "MESSAGES_UPSERT"
            }
          ]
        }
      },
      "id": "filter-messages",
      "name": "Filtrar — Apenas Mensagens",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [400, 300]
    },
    {
      "parameters": {
        "url": "=http://backend:3001/api/webhook",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "options": {
          "bodyContentType": "json"
        },
        "jsonBody": "={{ JSON.stringify($json.body) }}"
      },
      "id": "forward-to-backend",
      "name": "Encaminhar para Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [600, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"status\": \"received\" }"
      },
      "id": "respond-ok",
      "name": "Responder 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [800, 300]
    }
  ],
  "connections": {
    "Receber do Evolution API": {
      "main": [[{ "node": "Filtrar — Apenas Mensagens", "type": "main", "index": 0 }]]
    },
    "Filtrar — Apenas Mensagens": {
      "main": [
        [{ "node": "Encaminhar para Backend", "type": "main", "index": 0 }],
        [{ "node": "Responder 200 OK", "type": "main", "index": 0 }]
      ]
    },
    "Encaminhar para Backend": {
      "main": [[{ "node": "Responder 200 OK", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}
